@media (max-width: 320px){
   
    section {
        width: 19rem;
        height: 27rem;
        border-radius: 1rem;
        background-color: white;
    }

    .input input {
        width: 14rem;
    }

    .buttonenvia{
        display: flex;
        justify-content: center;
    }
}